In [11]:
# 11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. 
# Then, use the interactive interpreter to import the zoo module and call its hours() function.

import zoo
zoo.hours()

Open 9-5 daily

In [10]:
# 11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [10]:
# 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. 
# As in 16.6, select and print the title column from the book table in alphabetical order.

import sqlalchemy
from sqlalchemy import text

# Create engine to connect to the database
engine = sqlalchemy.create_engine('sqlite:///books.db')

# Create a connection
with engine.connect() as conn:
    # Execute SQL query using text() to create a SQL expression
    sql = text('select title from book order by title asc')
    rows = conn.execute(sql)
    
    # Print results
    for row in rows:
        print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)